---
layout: home
permalink: /
---

<div class="l-home-cols">
<div class="l-home-col-1">
	<div class="home-news-heading">
		<img src="{{ site.baseurl }}/css/img/news-events.jpg" alt="News, Events, and Stories" />
	</div>

	<div class="home-news-content"> 

	{% for post in site.posts limit:site.paginate %}
	<div class="news-post-wrapper">
		<span class="dates">{{ post.date | date_to_long_string }}</span>
		<h1>{{ post.title }}</h1>
		{{ post.content }}
	</div>
    {% endfor %}

	{% if site.posts.size > site.paginate %}
	<div class="arrow"><img src="{{ site.baseurl }}/css/img/arrow.gif" alt="arrow" width="18" height="14"></div>
	<div class="dontprinttext"><a href="{{site.baseurl}}/news/">read more news</a></div>
	{% endif %}
	
	</div>

</div>
<div class="l-home-col-2">
	<div class="home-facts-heading">
		<img src="{{ site.baseurl }}/css/img/quickfacts.jpg" alt="Quick facts about the group" />
	</div>

	<div class="home-facts-content">
		<ul> 
		<li>The charitable trust was set up in 2004. We rely mostly on <a href="{{site.baseurl}}/funding/">grants, donations and our fundraising</a> to pay for therapists’ wages and training, and for education for parents, teachers and the community.</li> 
		<li> The trust focuses on raising funds for <a href="{{site.baseurl}}/aba-therapy/" target="_parent">Applied Behavioural Analysis (ABA) therapy</a>.  This involves targeted individual learning programmes, and one-on-one teaching in the home, and also in school. Therapy hours are flexible and able to meet the requirements of the child and family. </li> 
		<li> We have <a href="{{site.baseurl}}/therapists/">great therapists</a> who are terrific with the kids. The therapists are trained and assessed regularly under the umbrella of our service provider, Intervention Services for Autism and Developmental Delay (ISADD). </li> 
		<li> <a href="{{site.baseurl}}/children/">Our children</a> range from pre-school to school age.</li> 
		<li> While ABA is government funded in some countries, it is not yet publicly funded in New Zealand.</li>
		</ul>

<h2>Please click below to make a donation</h2>
  
   <p>
<iframe height="450" width="250" src="http://givealittle.co.nz/widget/org/otagokidsautism/light-skyscraper" frameborder="0" seamless="seamless"></iframe>
   </p>
   <p>
 </p>
         <h2>Follow us on</h2>
  <p>    
      <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style socialMediaLinks">
<a class="addthis_button_facebook_follow" addthis:userid="pages/Otago-Childrens-Autism-Support-Group/358122794315118"></a>
<a class="addthis_button_preferred_3"></a>
<!--<a class="addthis_button_preferred_2"></a>-->
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50a3134a792137fb"></script>
<!-- AddThis Button END -->

	</div>

</div>
</div>



