<header class="site-header">

  <div class="wrapper">

    <a href="{{ site.baseurl }}/" class="header-logo" title="{{ site.title }}"></a>

    <nav>
      <ul>
      {% for p in site.navigation %}
        {% unless p.children %}
          <li><a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
        {% else %}
          <li>
            <a class="page-link page-link-menu" href="" onclick="return false;">{{ p.title }}</a>
            <ul class="page-link-menu-items">

              {% for q in p.children %}
              <li><a class="page-link" href="{{ q.url | prepend: site.baseurl }}">{{ q.title }}</a></li>
              {% endfor %}

            </ul>
          </li>
        {% endunless %}
      {% endfor %}
      </ul>
    </nav>

  </div>

</header>
