{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-item" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span class="pagination-item pagination-item-disabled">&laquo; Prev</span>
  {% endif %}

  {% for p in (1..paginator.total_pages) %}
    {% if p == paginator.page %}
      <strong class="pagination-item pagination-item-active">{{ p }}</strong>
    {% elsif p == 1 %}
      <a class="pagination-item" href="{{ '/news/' | prepend: site.baseurl | replace: '//', '/' }}">{{ p }}</a>
    {% else %}
      <a class="pagination-item" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', p }}">{{ p }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="pagination-item" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span class="pagination-item pagination-item-disabled">Next &raquo;</span>
  {% endif %}
</div>
{% endif %}